<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <connectionStrings>
        <add name="localhost" connectionString="Data Source=localhost;Initial Catalog=PPE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VM" connectionString="Data Source=192.168.1.14;Initial Catalog=PPE;User Id=SA;Password=A123456+;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
